html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-image: url("/public/bgimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
}
.card-hover{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.custom-navbar{
    background-color: #fee195;
    position: relative;
}
.form-container{
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    color: white;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3);
}
